
      <div id="initial-message" class="container" style="height: 100%; width: 100%; display: none; justify-content: center; align-items: center; flex-direction: column;">
        <h2 class="text-center">
          Start speaking to build your web page
        </h2>
        <h4>Use the commands below to add components</h4>
        <img src="public/img/mic.gif" style="width:150px;">
      </div>
    <nav id="navigation-1" class="navbar navbar-expand-lg parentPosition" style="background-color: #34495e;">
              <span class="badge badge-pill badge-secondary badgePosition">navigation-1</span>
              <a class="navbar-brand" style="color: white;" href="/">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                </div>
              </div>
            </nav><div id="banner-1" class="banner parentPosition" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/public/img/wave.jpg); height: 70%">
              <span class="badge badge-pill badge-secondary badgePosition">banner-1</span>
              <div class="container" style="height: 100%; width: 100%; display:flex; flex-direction: column; justify-content: center; align-items: center;">
                <h1>WebSpeak</h1>
                <p>Build websites using voice</p>
                <a class="btn btn-success" href="#">Get Started</a>
              </div>
            </div><div id="container-1" class="parentPosition" style="min-height: 300px; width: 100%; padding:20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;"><span class="badge badge-pill badge-secondary badgePosition">container-1</span><div id="card-1" class="card-trip parentPosition" style="margin: 20px;">
              <span class="badge badge-pill badge-secondary badgePosition">card-1</span>
              <img src="/public/img/omi.jpeg">
              <div class="card-trip-infos">
                <div>
                  <h2>Omi Chandnani</h2>
                </div>
              </div>
            </div><div id="card-2" class="card-trip parentPosition" style="margin: 20px;">
              <span class="badge badge-pill badge-secondary badgePosition">card-2</span>
              <img src="/public/img/mohamed.jpg">
              <div class="card-trip-infos">
                <div>
                  <h2>Mohamed Ibrahim</h2>
                </div>
              </div>
            </div><div id="card-3" class="card-trip parentPosition" style="margin: 20px;">
              <span class="badge badge-pill badge-secondary badgePosition">card-3</span>
              <img src="/public/img/khalid.jpg">
              <div class="card-trip-infos">
                <div>
                  <h2>Khalid Radwan</h2>
                </div>
              </div>
            </div></div><div class="aboutus-area parentPosition" id="about-1" style="background-color: #F6FAFD;">
    <span class="badge badge-pill badge-secondary badgePosition">about-1</span>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            <div class="col-sm">
                <div class="aboutus-content ">
                    <h1>About <span>Us</span></h1>
                    <h4>Mission Statement</h4>
                    <p>Think out loud! Speak your thoughts into existence! If you are disabled and want a website; you can have it now!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div><div id="email-1" class="container parentPosition" style="width: 60%; padding: 20px 0px;">
    <span class="badge badge-pill badge-secondary badgePosition">email-1</span>
    <h4 class="text-center">Reach out</h4>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end;">
        <a class="btn btn-primary" style=" color: white;">Send</a>
        </div>
      </form></div><div class="footer parentPosition" id="footer-1">
              <span class="badge badge-pill badge-secondary badgePosition">footer-1</span>
              <div class="footer-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <div class="footer-copyright">
                This website is made with <i class="fas fa-heart"></i> at EngHack
              </div>
            </div>