
      <div id="initial-message" class="container" style="height: 100%; width: 100%; display: none; justify-content: center; align-items: center; flex-direction: column;">
        <h2 class="text-center">
          Start speaking to build your web page
        </h2>
        <h4>Use the commands below to add components</h4>
        <img src="public/img/mic.gif" style="width:150px;">
      </div>
    <div id="card-1" class="card-trip parentPosition" style="margin: 20px;">
              <span class="badge badge-pill badge-secondary badgePosition">card-1</span>
              <img src="/public/img/omi.jpeg">
              <div class="card-trip-infos">
                <div>
                  <h2>Omi Chandnani</h2>
                </div>
              </div>
            </div>