
      <div id="initial-message" class="container" style="height: 100%; width: 100%; display: none; justify-content: center; align-items: center; flex-direction: column;">
        <h2 class="text-center">
          Start speaking to build your web page
        </h2>
        <h4>Use the commands below to add components</h4>
        <img src="public/img/mic.gif" style="width:150px;">
      </div>
    <div id="banner-1" class="banner parentPosition" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(public/img/wave.jpg); height: 70%">
              <span class="badge badge-pill badge-secondary badgePosition">banner-1</span>
              <div class="container" style="height: 100%; width: 100%; display:flex; flex-direction: column; justify-content: center; align-items: center;">
                <h1>WebSpeak</h1>
                <p>Think out loud</p>
                <a class="btn btn-success" href="#">Start hacking</a>
              </div>
            </div>
