
      <div id="initial-message" class="container" style="height: 100%; width: 100%; display: none; justify-content: center; align-items: center; flex-direction: column;">
        <h2 class="text-center">
          Start speaking to build your web page
        </h2>
        <h4>Use the commands below to add components</h4>
        <img src="public/img/mic.gif" style="width:150px;">
      </div>
    <nav id="navigation-1" class="navbar navbar-expand-lg parentPosition" style="background-color: #34495e;">
              <span class="badge badge-pill badge-secondary badgePosition">navigation-1</span>
              <a class="navbar-brand" style="color: white;" href="/">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                </div>
              </div>
            </nav>